@using WorkoutTracker.DataAccess.Models;
@model WorkoutTrackerViewModel

@{
    ViewData["Title"] = "Enter Your Workout";
}

<h1>Workout Tracker</h1>
<h4>Fill in the details of your workout below</h4>

<div>
    <h1>All Workouts</h1>
</div>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>
                Exercise Name
            </th>
            <th>
                Weight
            </th>
            <th>
                Repetitions
            </th>
            <th>
                Intensity
            </th>
            <th>
                Notes
            </th>
            <th>
                <a href="~/WorkoutTracker/Create" class="btn btn-primary">Add New Workout</a>
            </th>
        </tr>
        </thead>
        <tbody>
            @foreach (WorkoutTrackerModel name in Model.WorkoutList)
            {
                <tr>
                    <th>@name.ExerciseName</th>
                    <th>@name.Weight</th>
                    <th>@name.Repetitions</th>
                    <th>@name.Intensity</th>
                    <th>@name.Notes</th>
                    <th>
                        <a class="btn btn-primary" href='/WorkoutTracker/Update/@name.WorkoutId'>Edit</a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>

